header {
  background-image: url('../img/wall.png');
}
body {
  background-image: url('../img/cork.png');
}

.position {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
}
.position-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.back {
  background-color: rgba(0, 0, 0, 0.5);
}
button.position {
  transform: translate(-50%, -0%);
  top: 5%;
  left: 50%;
  z-index: 50;
  background-color: lightgrey;
}
#capsuleSection > div:hover {
  transform: matrix(1.2, -1, 1, 1.2, 0, 0);
  z-index: 10;
}
